# Server Configuration
NODE_ENV=development
DATABASE_URL=postgres://postgres:postgres@localhost:5432/solar
JWT_SECRET=your-secret-key-change-in-production
APP_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=

# Client Configuration
VITE_API_URL=http://localhost:3000
